fastapi
# NOTE: copy commit from https://github.com/ITISFoundation/publication-IEC62209/commits/main
iec62209 @ git+https://github.com/ITISFoundation/publication-IEC62209.git@f602e2d9ac7c008d4ea81ec5664de59a92dd351e
pydantic
python-multipart
uvicorn
