fastapi
# NOTE: copy commit from https://github.com/ITISFoundation/publication-IEC62209/commits/main
iec62209 @ git+https://github.com/ITISFoundation/publication-IEC62209.git@b4305a0f47b8d6cfb72a2fde348f337c0faf21b2
pydantic
python-multipart
uvicorn
